body {
    background-color: #1A0B2E;
}

.margin_class {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background: linear-gradient(rgb(180, 48, 48), rgb(49, 101, 49), rgb(40, 40, 114));
    padding: 10px 20px;
    border-radius: 20px;
}

#banner {
    height: 800px;
    background-image: url("../images/hero-bg.png");
    background-position: 50%;
    background-size: cover;




}

.banner_img {
    display: flex;
    justify-content: center;
}

#banner img.outer {
    width: 370px;
    height: 370px;
    margin-top: 100px;
}

.inner_img {
    width: 100px;
    height: 150px;
    position: absolute;
    margin-top: 200px;

}

.btn-1 {
    height: 50px;
    background-color: green;
    padding: 5px 20px;
    border-radius: 20px;
    position: absolute;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 100px;
}

.banner_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button img{
    width: 20px;
    height: 20px;
}
button{
    font-size: 20px;
}
.btn-2{
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid green;
    background: transparent;
}
#about{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
}

.about h1{
 font-size: 40px;
 font-weight: bold;
 color: green;

}
.about{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
#tech_wave{
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

}
.tech_wave{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    grid-template-rows: 1fr;
}
.tech{
    border-radius: 20px;
    
    padding: 50px 20px;
    margin: 10px;
    box-shadow: 4px 4px 4px 4px blueviolet;
}
.tech_{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.right_side{
    display: flex;
    flex-direction: column;
    gap: 20px;
}